.about-me {
  background-color: $main-area;
  min-height: 100vh;
  padding-top: 80px;
  .title {
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
    h2 {
      font-size: $title;
      text-transform: uppercase;
      font-weight: 700;
      position: relative;
      &:before {
        content: "";
        width: 100px;
        height: 5px;
        background-color: $gray;
        position: absolute;
        bottom: -10px;
        left: 0;
        border-radius: 100px;
      }
      &:after {
        content: "";
        width: 40px;
        height: 5px;
        background-color: $main-color;
        position: absolute;
        bottom: -10px;
        left: 0;
        border-radius: 100px;
      }
    }
    span {
      position: absolute;
      left: 0;
      top: 10px;
      font-size: 6rem;
      line-height: 1;
      font-weight: 900;
      color: rgba(25, 29, 43, 0.44);
      display: inline-block;
      text-transform: uppercase;
      white-space: nowrap;
      z-index: -1;
    }
  }
  .my-image {
    height: 400px;
    position: relative;
    &:before {
      content: "";
      width: 15px;
      height: 260px;
      background-color: #037fff;
      position: absolute;
      top: 0px;
      left: 15px;
      border-radius: 0px;
      opacity: 0.7;
    }
    &:after {
      content: "";
      width: 15px;
      height: 260px;
      background-color: #037fff;
      position: absolute;
      bottom: -7px;
      right: 15px;
      border-radius: 0px;
      opacity: 0.7;
    }
  }
  .details-content {
    h2 {
      margin: -6px 0 1rem;
      font-weight: 600;
      span {
        color: $main-color;
      }
    }
    ul.identification {
      list-style: none;
      margin: 2.1rem 0;
      padding: 0;
      li:not(last-child) {
        margin-bottom: 3px;
      }
      li b {
        min-width: 120px;
        display: inline-block;
        position: relative;
        margin-right: 7px;
        &:after {
          content: ":";
          position: absolute;
          top: 0;
          left: auto;
          right: 0;
        }
      }
    }
    button.cv {
      //margin-top: 1.1rem;
      border-radius: 0;
      padding: 10px;
      background-color: $main-color;
    }
  }
  .services {
    padding-top: 50px;
    h2 {
      color: white;
    }
    .w-design {
      border-top: 3px solid $gray;
      width: 95%;
      padding: 20px;
      background-color: $sidebar;
      transition: 0.5s;
      i {
        color: $main-color;
      }
      &:hover {
        border-top: 3px solid $main-color;
      }
      > h4 {
        color: white;
        position: relative;
        margin: 10px 0 20px;
        &:after {
          position: absolute;
          bottom: -10px;
          left: 0;
          content: "";
          width: 70px;
          border-bottom: 2px solid white;
        }
      }
    }
    .w-dev {
      border-top: 3px solid $gray;
      width: 95%;
      padding: 20px 20px;
      background-color: $sidebar;
      transition: 0.5s;
      i {
        color: $main-color;
      }
      &:hover {
        border-top: 3px solid $main-color;
      }
      > h4 {
        color: white;
        position: relative;
        margin: 10px 0 20px;
        &:after {
          position: absolute;
          bottom: -10px;
          left: 0;
          content: "";
          width: 70px;
          border-bottom: 2px solid white;
        }
      }
    }
    .mobile-dev {
      border-top: 3px solid $gray;
      width: 95%;
      padding: 20px 20px;
      background-color: $sidebar;
      transition: 0.5s;
      i {
        color: $main-color;
      }
      &:hover {
        border-top: 3px solid $main-color;
      }
      > h4 {
        color: white;
        position: relative;
        margin: 10px 0 20px;
        &:after {
          position: absolute;
          bottom: -10px;
          left: 0;
          content: "";
          width: 70px;
          border-bottom: 2px solid white;
        }
      }
    }
  }
}
