.portfolio {
  background-color: $main-area;
  min-height: 100vh;
  padding-top: 80px;
  .containerBx {
    height: 250px;
    position: relative;
    overflow: hidden;
    .contentBx {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:$sidebar;
        transform: scaleX(0);
        transition:transform 0.5s ease-in-out;
        transform-origin: right;
        border-radius:3.5px;
      }
      .content{
        position: relative;
        padding: 30px;
        z-index: 1;
        transition: 0.5s;
        transform:translateX(-500px);
      }
    }
    &:hover .contentBx::before{
      transform: scaleX(1);
      transition:transform 0.5s ease-in-out;
      transform-origin: left;
    }
    &:hover .contentBx .content{
      transform:translateX(0px);
    }

    .imgBx{
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      img{
        height: 100%;
      }
    }
  }
  /* .img-box{
      position: relative;
      overflow: hidden;
      //background-color: #037fff;
      background-blend-mode: multiply;
      border: 1px solid white;
      .overlay{
        position: absolute;
        top:0;
        width:100%;
        right: 0;
        background-color:#007bff; 
        transition: all 0.3s;
        height:200px;
        opacity: 0; 
        p{
          line-height: 150px;
        }                                       
        &:hover{
          height:200px;
          opacity: 0.8;
        }
      }
      .hover-img{
        vertical-align: top;
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
        &:hover{
          -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
        }
      }
    } */

  .title {
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
    h2 {
      font-size: $title;
      text-transform: uppercase;
      font-weight: 700;
      position: relative;
      &:before {
        content: "";
        width: 100px;
        height: 5px;
        background-color: $gray;
        position: absolute;
        bottom: -10px;
        left: 0;
        border-radius: 100px;
      }
      &:after {
        content: "";
        width: 40px;
        height: 5px;
        background-color: $main-color;
        position: absolute;
        bottom: -10px;
        left: 0;
        border-radius: 100px;
      }
    }
    span {
      position: absolute;
      left: 0;
      top: 10px;
      font-size: 6rem;
      line-height: 1;
      font-weight: 900;
      color: rgba(25, 29, 43, 0.44);
      display: inline-block;
      text-transform: uppercase;
      white-space: nowrap;
      z-index: -1;
    }
  }
}
