.resume {
  background-color: $main-area;
  min-height: 100vh;
  padding-top: 80px;
  .title {
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
    h2 {
      font-size: $title;
      text-transform: uppercase;
      font-weight: 700;
      position: relative;
      &:before {
        content: "";
        width: 100px;
        height: 5px;
        background-color: $gray;
        position: absolute;
        bottom: -10px;
        left: 0;
        border-radius: 100px;
      }
      &:after {
        content: "";
        width: 40px;
        height: 5px;
        background-color: $main-color;
        position: absolute;
        bottom: -10px;
        left: 0;
        border-radius: 100px;
      }
    }
    span {
      position: absolute;
      left: 0;
      top: 10px;
      font-size: 6rem;
      line-height: 1;
      font-weight: 900;
      color: rgba(25, 29, 43, 0.44);
      display: inline-block;
      text-transform: uppercase;
      white-space: nowrap;
      z-index: -1;
    }
  }
  .experience,
  .education {
    padding: 20px;
    .timeline-exp {
      border-left: 2px solid white;
      p.exp-date {
        margin-left: 20px;
        color: #02a4d3;
        position: relative;
        &::before {
          background-color: $main-area;
          content: "";
          position: absolute;
          top: 7px;
          left: -29px;
          width: 15px;
          height: 15px;
          border: 2px solid white;
          border-radius: 50%;
        }
      }
    }
    h4 {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 13px;
        left: -30px;
        width: 20px;
        height: 2px;
        background-color: $main-color;
      }
    }
  }
}
